@page
@model AppSecAssign1.Pages.ResetPasswordModel

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://www.google.com/recaptcha/api.js"></script>

}


<form method="post">
    <div class="field is-horizontal">

        <div class="field-body">
            <div class="field">
                <label class="label">Current Password</label>
                <div class="control">
                    <input class="input" type="password" asp-for="oldPw" placeholder="Current Password" />
                </div>
                <span class="text-danger" asp-validation-for="oldPw"></span>
            </div>
        </div>


        <div class="field-body">
            <div class="field">
                <label class="label">New Password</label>
                <div class="control">
                    <input class="input" type="password" asp-for="newPw" placeholder="New Password" />
                </div>
                <span class="text-danger" asp-validation-for="newPw"></span>
            </div>
        </div>

    </div>

    <br />

    <div class="control">
        <button class="button is-primary">Submit</button>
    </div>

    <p class="text-danger">@Model.message</p>

</form>